chainlit
langchain
langchain-core
langchain-community
langchain-groq
langgraph
python-dotenv
wikipedia
arxiv
PyPDF2
chromadb
sentence-transformers
yt_dlp
pydub
youtube-transcript-api
tiktoken
pytube
ipykernel