# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
**/venv/
.venv/
**/.venv/
zenv/

# Environment files
.env
**/.env

# Jupyter notebook checkpoints
.ipynb_checkpoints

# VSCode or other IDE configs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# data artifacts
*.sqlite
*.log

# Chainlit
.chainlit/

# Misc
*.bak

# Egg info directory
*.egg-info/
*.egg
build/
dist/

# ChromaDB files
chroma.sqlite3
*.bin
*.pickle

# Or more specifically for your vector database
vector_db/